uvicorn
fastapi
sqlalchemy
pydantic[email]
passlib[bcrypt]
bcrypt
python-jose[cryptography]
python-dotenv
python-multipart
beautifulsoup4==4.12.2
requests==2.31.0
lxml==4.9.3
redis==4.5.1
aioredis==2.0.1
